@charset "utf-8";
html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-size: 12px;
	color: #333;
}
img {
	border: 0px;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul li {
	float: left;
	margin: 0px;
	padding: 0px;
	display: block;
	padding-left: 5px;
	line-height: 25px;
}

.left {
	float: left
}
.margin_div {
	margin-top: 12px;
	margin-left: 10px;
}
a {
	font-size: 12px;
	color: #fff;
}
a:link {
	color: #666;
	text-decoration: none;
}
 a:active: {
color: #666;
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #313131;
	text-decoration: none;
}
#header {
	height: 85px;
	overflow: hidden;
}
#banner_left_bot div div a {
	color: #FFF;
}
#banner_left_bot div ul li {
	background: none;
}
#banner_left_bot div div a {
	font-size: 12px;
	color: #fff;
}
#banner_left_bot div div a:link {
	color: #fff;
	text-decoration: none;
}
 #banner_left_bot div div a:active: {
color: #fff;
}
#banner_left_bot div div a:visited {
	color: #fff;
	text-decoration: none;
}
#banner_left_bot div div a:hover {
	color: #fff;
	text-decoration: underline;
}
#header_line {
	background-color: #0180b5;
	height: 5px;
}
#header_main {
	height: 80px;
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
}
#header_logo {
	float: left;
	height: 80px;
	width: 287px;
}
#header_nav {
	float: left;
	height: 80px;
	width: 516px;
}
#top_nav {
	height: 35px;
	width: 580px;
	line-height: 35px;
	text-align: right;
	color: #949494;
	vertical-align:middle;
}
#header_nav_main {
	height: 45px;
	width: 565px;
	padding-left: 15px;
}
#header_nav_main ul li {
	background: none;
}
#top_nav a {
	font-size: 12px;
	color: #949494;
	text-decoration:none;
}
#top_nav a:link {
	color: #949494;
	text-decoration:none;
}
 #top_nav a:active: {
color: #949494;
}
#top_nav a:visited {
	color: #949494;
	text-decoration: none;
}
#top_nav a:hover {
	color: #333;
	text-decoration:none;
}



#top_nav .dtun {
	font-size: 12px;
	color: #949494;
	text-decoration:none;
}
#top_nav .dtun:link {
	color: #949494;
	text-decoration:none;
}
 #top_nav .dtun:active: {
color: #949494;
}
#top_nav a.dtun:visited {
	color: #949494;
	text-decoration: none;
}
#top_nav .dtun:hover {
	color: #333;
	text-decoration:underline;
}

#header_nav_main ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#header_nav_main ul li {
	float: left;
	height: 45px;
	width: 62px;
	margin: 0px;
	padding: 0px;
	line-height: 50px;
	color: #0180b5;
	font-family: "微软雅黑";
	text-align: center;
	background-image: url("nav_line.jpg")/*tpa=http://fc100.cn/Public/Home/images/nav_line.jpg*/;
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

#header_nav_main ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#header_nav_main ul li a {
	font-size: 16px;
	color: #0180b5;
	text-decoration: none;
}
#header_nav_main ul li a:link {
	color: #0180b5;
	text-decoration: none;
}
 #header_nav_main ul li a:active: {
color: #0180b5;
}
#header_nav_main ul li a:visited {
	color: #0180b5;
	text-decoration: none;
}
#header_nav_main ul li a:hover {
	color: #005579;
	text-decoration: underline;
}
#banner {
	height: 350px;
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
}
#banner_left {
	float: left;
	height: 292px;
	width: 700px;
	background-image: url("banner.png")/*tpa=http://fc100.cn/Public/Home/img/banner.png*/;
	background-repeat: no-repeat;
	margin-top: 58px;
}
#banner_left_new {
	float: left;
	height: 400px;
	width: 1000px;
	background-image: url("banner-1.png")/*tpa=http://fc100.cn/images/banner.png*/;
	background-repeat: no-repeat;
	margin-top: 80px;
}
#banner_left_top {
	height: 49px;
	width: 677px;
	color: #FFF;
	line-height: 49px;
	padding-left: 23px;
	font-family: '微软雅黑';
	height:49px;
}
#banner_left_bot {
	height: 228px;
	width: 690px;
	margin-top:0px;
	padding-top: 15px;
	padding-left: 10px;
}
#banner_left_bot ul li {
	margin-right: 4px;
	margin-left: 4px;
	color: #FFF;
}
#banner_left_bot div ul{display: inline-block;
    width: 690px;
    line-height: 25px;}
#banner_left_bot div ul li a {
	font-size: 13px;
	color: #7b7b7b;
}
#banner_left_bot div ul li a:link {
	color: #fff;
	text-decoration: none;
}
 #banner_left_bot div ul li a:active: {
	color: #fff;
	text-decoration:none;
}
#banner_left_bot div ul li a:visited {
	color: #fff;
	text-decoration: none;
}
#banner_left_bot div ul li a:hover {
	color: #ff7f00;  /* 33cdff */
	font-weight:blod;
	text-decoration:none;
}
#banner_right {
	float: left;
	height: 305px;
	width: 303px;
	margin-top: 45px;
}
.map_tel{
	color:#fff; line-height:20px; font-size:23px; font-weight:bold; font-style:italic; margin-left:10px; font-family:'微软雅黑';}